/* Глобальные стили */
:root {
  --theme-color-1: rgb(178, 182, 185);
  --theme-color-1__hover: rgb(241, 241, 241);
  --theme-color-2: rgb(231, 231, 231);

  --font-color: white;

  --base-padding: 10px;

  --transition-duration: .4s;
  --text-shadow: 1px 1px 4px black;
  
  --menu-font-size: 20px;
  --empty-corner-size: calc( var(--menu-font-size) - 1px );
}

* {
  box-sizing: border-box;
}

html {
  color: var(--font-color);
}

body {
  margin: 0;
  background: url(../img/bg/carbon-bg.jpg);
  background-color: rgb(53, 44, 44);
  height: 100vh;
}

/* Кнопки */
.button {
  display: inline-block;
  box-shadow: 0 0 1px 1px var(--theme-color-1__hover);
  background-color: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-shadow: inherit;
  padding: 4px;
  cursor: pointer;
  user-select: none;

  transition-duration: var(--transition-duration);
  transition-property: text-shadow;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: var(--theme-color-1__hover);
  text-shadow: 1px 1px 2px black, 1px 1px 8px black;
}


/* Закрывашки */
.closer {
  position: absolute;
  width: 20px;
  height: 20px;
  right: var(--base-padding);
  top: var(--base-padding);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.closer:focus {
  outline: none;
}

.closer:hover {
  box-shadow: 0 0 1px 1px var(--theme-color-1__hover);
  /* background-color: var(--theme-color-1__hover); */
}

.closer::before,
.closer::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: var(--font-color);
}

.closer::before {
  transform: rotate(45deg);
}

.closer::after {
  transform: rotate(135deg);
}


/* Куски мозайки */
.piece {
  box-shadow: inset 0 0 2px white;
  /* border: 1px solid white; */
  background: url(../img/image.jpg) 0 0 no-repeat;
  position: absolute;
  cursor: pointer;
}


/* Стартовое меню */
.start-menu__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 10002;
}

.start-menu {
  position: relative;
  width: 500px;
  margin: auto;
  padding: var(--base-padding);
  background-color: var(--theme-color-1);
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  outline: 1px solid white;
  user-select: none;
}

.start-menu__title {
  text-align: center;
}

.start-menu__info,
.start-menu__amount-input {
  display: block;
  margin: 20px 0;
}

.start-menu__amount-input > input {
  width: 35px;
}

.start-menu__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-menu__loader,
.start-menu__start-button {
  display: inline-block;
  box-shadow: 0 0 1px 1px var(--theme-color-1__hover);
  background-color: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  text-shadow: inherit;
  cursor: pointer;

  transition-duration: var(--transition-duration);
  transition-property: text-shadow;
}

.start-menu__start-button {
  padding: 5px;
}

.start-menu__loader:hover,
.start-menu__start-button:hover {
  background-color: var(--theme-color-1__hover);
  text-shadow: 1px 1px 2px black, 1px 1px 8px black;
}

.start-menu__inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.start-menu__inputfile + label {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}


/* Перекрытие экрана */
.overlay {
  position: absolute;
  z-index: 10001;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
}


/* Угловое меню */
.menu {
  position: relative;
  top: 0;
  width: 140px;
  z-index: 10000;
  transition-duration: var(--transition-duration);
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: var(--theme-color-1);
  background: linear-gradient(-45deg, transparent var(--empty-corner-size), var(--theme-color-1) 0);
  color: var(--font-color);
  text-shadow: var(--text-shadow);
}

.menu__item {
  position: relative;
  margin: 0;
  padding: 0;

  font-size: var(--menu-font-size);
}

.menu__item:not(:last-child)::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgb(231, 231, 231);
}

.menu__button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;

  color: inherit;
  text-shadow: inherit;

  width: 100%;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 4px;

  transition-property: text-shadow;
  transition-duration: var(--transition-duration);
}

.menu__button:not(.menu__toggle):hover {
  cursor: pointer;
  
  background-color: var(--theme-color-1__hover);
  text-shadow: var(--text-shadow), 1px 1px 8px black;
}

.menu__button:not(.menu__toggle):focus {
  outline: none;
}

.menu__toggle:hover {
  background-color: var(--theme-color-1__hover);
  cursor: pointer;
  
  background: linear-gradient(-45deg, transparent var(--empty-corner-size), var(--theme-color-1__hover) 0);
  text-shadow: var(--text-shadow), 1px 1px 8px black;
}
 
.menu__toggle:focus {
  outline: none;
}

.menu__time {
  font-size: inherit;
  user-select: none;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 4px;

  position: relative;
}

.menu__pause-button {
  display: none;
  position: absolute;
  right: 24px;
  top: 5px;
  background-color: transparent;
  height: 14px;
  width: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menu__item:hover > .menu__pause-button {
  display: block;
}

.menu__pause-button:focus {
  outline: none;
}

.menu__pause-button:hover {
  box-shadow: 0 0 1px 1px var(--theme-color-1__hover);
}

.menu__pause-button::before,
.menu__pause-button::after {
  content: '';
  position: absolute;
  top: 10%;

  width: 4px;
  height: 80%;
  background-color: var(--font-color);
  box-shadow: 0 0 1px 1px var(--theme-color-1__hover);
}

.menu__pause-button::before {
  left: 10%;
}

.menu__pause-button::after {
  right: 10%;
}


/* Диалоговые окна */
.popup__wrapper {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
}

.popup {
  position: relative;
  background-color: var(--theme-color-1);
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  padding: var(--base-padding);
  margin: auto;
  text-align: center;

  z-index: 10003;
  outline: 1px solid white;

  max-width: 50%;
}

.popup__text-wrapper {
  user-select: none;
}

.popup__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup__button {
  min-width: 100px;
}

.popup__button:not(:last-child) {
  margin-right: var(--base-padding);
}